@model CategorySearchViewModel
@{
    ViewData["Title"] = "ListCategory";
}

<h1>ListCategory</h1>
@Html.ActionLink("Add", "Create")

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Image
            </th>
            <th>
                No. Of Products
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Categories)
        {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                <img src="@item.ImageURL" alt="Image" height="100" width="100">
            </td>
            <td>
                @item.Products.Count
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCategory", new { id = item.ID }) |
                @Html.ActionLink("Delete", "DeleteCategory", new { id = item.ID })
            </td>
        </tr>
        }
    </tbody>
</table>


