@{
    ViewData["Title"] = "ListCategory";
}

<h1>ListCategory</h1>
@Html.ActionLink("Add", "Create")

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.categories)
        {
            <tr>
                <td>
                    @item.ID
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditCategory", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "DeleteCategory", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>


