@model List<Category>

@{
    ViewData["Title"] = "CreateProduct";
    var imageURL = "/images/Placeholder_No_Image.jpg";
}

<h1>Create Products</h1>
<form id="CreateProductForm">
    <div class="row">
        <div class="col-md-8">

            <div class="form-group">
                <label>Categry</label>
                <select class="form-control" name="CategoryID">
                    @foreach (var category in Model)
                    {
                        <option value="@category.ID">@category.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" type="text" name="Name" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" type="text" name="Description" />
            </div>
            <div class="form-group">
                <label>Price</label>
                <input class="form-control" type="text" name="Price" />
            </div>
            <div class="form-group">
                <label>Image</label>
                <input id="imageURL" name="imageURL" type="hidden" />
                <input class="form-control" id="ImageUpload" name="Image" type="file" accept=".png, .jpg , .jpeg" />
            </div>

            <button class="btn" type="button" id="AddProductBtn">Submit</button>
            <button class="btn" type="button" id="CancelProductBtn">Cancel</button>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img id="ContentImage" src="@imageURL" class="img-thumbnail img-fluid" />
            </div>
        </div>
    </div>
</form>

<script>

        $("#AddProductBtn").click(function () {
            $.ajax({
                type: 'POST',
                url:'@Url.Action("CreateProduct", "Product")',
                data: $("#CreateProductForm").serialize()
            })
                .done(function (response) {
                    $("#ProductIndex").html("");
                    $("#productTableIndex").html(response);

                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fail");
                })
        });

        $("#CancelProductBtn").click(function () {
            $("#ProductIndex").html("");
            focusAction("productTableIndex");
        });

        $("#ImageUpload").change(function () {
            var element = this;
            var formdata = new FormData();
            var Files = element.files;

            for (var i = 0; i != Files.length; i++) {

                formdata.append("Files", Files[i]);
            }
            $.ajax({
                type: 'POST',
                url:'@Url.Action("UploadImage", "Shared")',
                data: formdata,
                contentType: false,
                processData: false
            })
                .done(function (response) {
                    if (response.status == "success") {
                        $("#ContentImage").attr("src", response.imageURL);
                        $("#imageURL").val(response.imageURL);
                    }
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fail");
                });
        });
</script>
