
@{
    ViewData["Title"] = "ProductTable";
}

<div >
    <h1>ProductTable</h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.ProductsList)
            {
                <tr>
                    <td>
                        @item.ID
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        <button type="button" class="Editbtn" data-id="@item.ID">Edit</button>
                        @Html.ActionLink("Delete", "DeleteProduct", new { id = item.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script>

    $(".Editbtn").click(function () {
        $.ajax({
            url: '/Product/EditProduct',
            data:
            {
                id: $(this).attr('data-id')
            }
        })
            .done(function (response) {
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            })
    });
</script>