@model List<Product>
@{
    ViewData["Title"] = "ProductTable";
}

<div >
    <h1>ProductTable</h1>
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Category
                </th>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th>
                    Image
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Category.Name
                    </td>
                    <td>
                        @item.ID
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        <img src="@item.ImageURL" alt="Image" height="50" width="50">
                    </td>
                    <td>
                        <button type="button" class="Editbtn" data-id="@item.ID">Edit</button>
                        
                        <button type="button" class="Deletebtn" data-id="@item.ID">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script>

    $(".Editbtn").click(function () {
        $.ajax({
            url: '/Product/EditProduct',
            data:
            {
                id: $(this).attr('data-id')
            }
        })
            .done(function (response) {
                focusAction();
                $("#ProductIndex").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            })
    });
    $(".Deletebtn").click(function () {
        $.ajax({
            url: '/Product/DeleteProduct',
            data:
            {
                id: $(this).attr('data-id')
            }
        })
            .done(function (response) {
                $("#productTableIndex").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            })
    });
</script>