
@{
    ViewData["Title"] = "ProductTable";
}

<div id="productIndex">
    <h1>ProductTable</h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.ProductsList)
            {
                <tr>
                    <td>
                        @item.ID
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditProduct", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "DeleteProduct", new { id = item.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

